header {
    width: 100vw;
    background-color: #f8f9fa;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow: var(--box-shadow);
    padding: 0 1em;

    nav {
        display: flex;
        width: 100%;
        max-width: calc(1200/20)*1em;
        padding: 1em;
        position: relative;

        .slide {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            width: 100vw;
            height: 100%;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: .5em;
            padding: 1em 0;
            transition: transform .3s ease-in-out, opacity .33s ease, top .33s ease;
            position: absolute;
            z-index: 500;
            top: 5em;
            left: .5em;
            opacity: 0;
            pointer-events: none;
            visibility: hidden;

            &.is-active {
                top: 3.2em;
                opacity: 1;
                pointer-events: all;
                visibility: visible;
            }

            // 


            &::before {
                position: absolute;
                content: '';
                width: calc(12/20)*1em;
                height: calc(12/20)*1em;
                background-color: white;
                top: calc(-6/20)*1em;
                left: 1em;
                transform: rotate(45deg);
                pointer-events: none;
                display: block;
            }

            @media only screen and (min-width: 1024px) {
                width: calc(400/20)*1em;
                height: auto;
            }

            .hamburger {
                margin-right: .5em;
                display: flex;
            }

            >.header {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: calc(1/20)*1em solid rgba(0, 0, 0, .1);
                padding: 0 1em 1em 1em;

                .flex {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .count {
                    color: rgba(0, 0, 0, .4);
                    font-size: .8em;
                }
            }

            >.footer {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                padding: 0 1em;
                border-top: calc(1/20)*1em solid rgba(0, 0, 0, .1);

            }

            button#checkout {
                width: 100%;
                border: 0;
                text-transform: uppercase;
                background-color: #202020;
                color: white;
                padding: 1em 0;
                border-radius: .5em;

                &:disabled {
                    background-color: grey;
                }
            }

            .est-total {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 1em 0;
                font-size: .9em;
            }
        }

        .cart-items {
            position: relative;
            padding: 1em 1em;
            width: 100%;

            .cart-item {
                // padding: 1em 0;
                background-color: white;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                height: auto;
                height: calc(100/20)*1em;
                margin-bottom: 1.5em;
                overflow: hidden;

                &:nth-last-child(1) {
                    margin: 0;
                }

                .img-container {
                    position: relative;
                    width: calc(100/20)*1em;
                    min-width: calc(100/20)*1em;
                    height: calc(100/20)*1em;
                    margin-right: 1em;
                    border-radius: .25em;
                    overflow: hidden;
                    border: 1px solid rgba(0, 0, 0, .1);

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .body {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    flex: 1;

                    .flex {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;

                        &>div {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        h5 {
                            font-size: calc(15/20)*1em;
                            font-weight: 400;
                        }

                        span.quantity {
                            font-size: .75em;
                            margin-right: .5em;
                        }

                        div.price {
                            position: relative;
                            font-size: 1em;

                            span {
                                position: absolute;
                                font-size: calc(12/20)*1em;
                                color: rgba(0, 0, 0, .4);
                                white-space: nowrap;
                                bottom: -1.5em;
                                right: 0;
                                opacity: 0;
                                visibility: none;
                                transition: opacity .33s ease;
                            }

                            &.active {
                                span {
                                    opacity: 1;
                                    visibility: all;
                                }
                            }

                            p.price {
                                font-size: calc(17/20)*1em;
                                color: rgba(0, 0, 0, .5);
                            }
                        }
                    }


                    .btns {
                        display: flex;

                        button {
                            margin: 0;
                            background-color: #202020;
                            border-radius: .25em;
                            font-size: .6em;

                            &:nth-child(2) {
                                margin: 0 .5em;
                            }

                            &:disabled {
                                background-color: grey;
                            }
                        }
                    }
                }
            }
        }

        button.cart-total {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1em;
            width: calc(30/15)*1em;
            height: calc(30/15)*1em;
            border: 0;
            background: transparent;
            font-size: calc(15/20)*1em;

            img {
                width: calc(35/20)*1em;
                height: calc(35/20)*1em;
            }

            span {
                background-color: var(--primary-color);
                color: white;
                font-size: .75em;
                height: 1.5em;
                min-width: 1.5em;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                position: absolute;
                top: -.6em;
                right: -.6em;
            }
        }
    }
}

// Toggle
.hamburger {
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    z-index: 9999;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.is-active:hover {
    opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #000;
}

.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 1.2em;
    height: .1em;
    background-color: #000;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -8px;
}

.hamburger-inner::after {
    bottom: -8px;
}


// Toggle Animation
.hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}